---
# Only the main Sass file needs front matter (the dashes are enough)
---

// CUSTOMS START HERE

$paragraph-indent: true;
// $indent-var: ???;

$serif: "Crimson Text", Times, serif;
$monospace: "Anonymous Pro", Consolas, monospace;
$global-font-family: $serif;
$header-font-family: $monospace;

$accent-color: #5A141E;
$body-color: #222222;
$background-color: #F6F6F6;
$text-color: #222222;
$link-color: $accent-color;
$masthead-link-color: $body-color;

.site-title {
  font-family: $monospace;
}

.page__footer, .archive__subtitle {
  display: none;
}

.masthead {
  border: none;
}

body {
  margin-bottom: 0;
}

// CUSTOMS END HERE
@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials